<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Raheem Wilson</h1>
    <p>A humble young adult who currently resides in Trelawny. 
        I am currently in my second year pursuing a Computer Science degree at the UWI. I 
        enjoy coding as it helps me to realize my problem solving skills and create fun as well as 
        meaningful software applications. Additionally, I am a firm believer in God who by all things is the 
        author and finisher of my faith.
    </p>
</body>
</html>